@import "tailwindcss";

.text-outline {
    text-shadow: 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/Inter.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/RobotoSlab.woff2") format("woff2");
}

@theme {
    --breakpoint-xs: 24rem;
    --font-inter: "Inter", sans-serif;
    --font-robotoslab: "Roboto Slab", sans-serif;
}
